header {
    padding: 20px;
    margin-bottom: 20px;
    height: 58px;
    background: #FFB600 url('../img/worklife_logo--small.png') center 20px no-repeat;
}
.climb__wall {
    font-family: "fira-sans", sans-serif;
    color: #322F3F;
}
.climb__tile, .climb__tile__content {
    background-color: #FFB600;
}
.climb__tile__message a {
    color: white;
}
a {
    color: #322F3F;
}
